body {
    font-family:"VT323", monospace;
    background-image: url("../assets/Tresor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
}

p {
    font-size:200%;
    align-items: center;
    color:#ffffff;
    text-align: center;
}