body {
    font-family:"VT323", monospace;
    background-image: url("../assets/Falaise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}