body {
  font-family:"VT323", monospace;
  background-image: url("../assets/Village.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  background-attachment:fixed;
}

h1 {
    font-size: 300%;
    background: linear-gradient(to right, black, rgba(100, 100, 100, 0));
    color: #fff;
    padding: 20px 40px;
    width: 100vw;
    box-sizing: border-box;
    animation: slideInFromRight 1s ease-out forwards;

}

p {
    font-size:125%;
    align-items: center;
}

.choice {
    background: linear-gradient(to right, black, rgba(100, 100, 100, 0));
    color: #fff;
    padding: 20px 40px;
    width: 100vw;
    box-sizing: border-box;
    transition: transform 1s ease; 
    animation: slideInFromRight 3s ease-out forwards;
    display: inline-block;
}

.choice a {
  color: white;
  font-weight: bold;
}

.choice:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#pour {
  color:red;
  font-weight: bolder;
  background-color:rgb(0, 0, 0);
  border-radius: 5px;

}



