body {
    font-family:"VT323", monospace;
    background-image: url("../assets/Portail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
}